@* @using HMSYSTEM.ViewModels.PagedResult<Patient> *@
@model HMSYSTEM.ViewModels.PagedResult<Patient>
@* @model PaginationViewModel<Patient> *@



<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing Patient</h3></div>
                    <div>
                        <input type="text" name="name" id="searchBox" class="form-control" placeholder="Search Patient" />
                    </div>
                    <div> <a class="btn btn-info" asp-controller="Patient" asp-action="Save">Create</a></div>
                </div>



                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>Patient Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>BloodGroup</th>
                                <th>DateOfBirth</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:ce">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBoady">
                            @{
                                int count = ((Model.CurrentPage - 1) * Model.PageSize) + 1;
                            }
                            @foreach(Patient patient in Model.Items)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@patient.FirstName  @patient.LastName</td>
                                    <td>@patient.Email</td>
                                    <td>@patient.Address</td>
                                    <td>@patient.Phone</td>
                                    <td>@patient.BloodGroup</td>
                                   
                                    <td>
                                        @(patient.DateOfBirth.HasValue
                                            ? patient.DateOfBirth.Value.ToString("d-MMM-yyyy")
                                            : "N/A")
                                    </td>
                                    <td>@(patient.Status == true ? "Active" : "Invactive")</td>
                                    
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">
                                           
                                            <a class="btn btn-primary ms-2" asp-route-id="@patient.PatientID" asp-controller="Patient" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-info ms-2" asp-route-id="@patient.PatientID" asp-controller="Patient" asp-action="Details">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-danger ms-2" asp-route-id="@patient.PatientID" asp-controller="Patient" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                          
                                        </div>
                                    </td>
                                </tr>
                                  count++;
                            } 

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @await Html.PartialAsync("_Pagination", Model)
                </div>
            </div>
        <!-- /.card -->
        </div>
    </div>
</div>


 <script>
        $(document).ready(function () {
        $("#searchBox").on('keyup', function () {
            var name = $(this).val().trim();

                   if (name.length === 0) {
                        location.reload();
                    return;
                   }
            $.ajax({
                url: '/Patient/GetName',
                data: { name: name },

                success: function (data) {
                    let rows = '';
                    // console.log(data)
                    data.forEach(item => {
                        let dob = item.dateOfBirth
                            ? new Date(item.dateOfBirth).toLocaleDateString('en-GB', {
                                  day: 'numeric',
                                  month: 'short',
                                  year: 'numeric'
                              })
                            : "N/A";

                        let status = item.status ? "Active" : "Inactive";

                        rows += `<tr>
                            <td>${item.patientID}</td>
                            <td>${item.firstName} ${item.lastName}</td>
                            <td>${item.email}</td>
                            <td>${item.address}</td>
                            <td>${item.phone}</td>
                            <td>${item.bloodGroup}</td>
                            <td>${dob}</td>
                            <td>${status}</td>
                        </tr>`;
                    });

                    $('#tableBoady').html(rows);
                }
            });
        });
    });

 </script>

