
@model IEnumerable<Patient>
@{
    ViewData["Title"] = "Patient";
}


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing Patient</h3></div>
                    <div>
                        <input type="text" name="name" id="searchBox" class="form-control" placeholder="Search Patient" />
                    </div>
                    <div> <a class="btn btn-info" asp-controller="Patient" asp-action="Save">Create</a></div>
                </div>



                <!-- /.card-header -->
                <div class="card-body">
                    <table id="patientTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>BloodGroup</th>
                                <th>DateOfBirth</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:ce">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBoady">
                            @{
                                int count =  1;
                            }
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.FirstName  @item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
                                    <td>@item.Phone</td>
                                    <td>@item.BloodGroup</td>
                                   
                                    <td>
                                        @(item.DateOfBirth.HasValue
                                            ? item.DateOfBirth.Value.ToString("d-MMM-yyyy")
                                            : "N/A")
                                    </td>
                                <td>@(item.Status == true ? "Active" : "Invactive")</td>
                                    
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.PatientID" asp-controller="Patient" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-info ms-2" asp-route-id="@item.PatientID" asp-controller="Patient" asp-action="Details">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-danger ms-2" asp-route-id="@item.PatientID" asp-controller="Patient" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                          
                                        </div>
                                    </td>
                                </tr>
                                  count++;
                            } 

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @* @await Html.PartialAsync("_Pagination", Model) *@
                </div>
            </div>
        <!-- /.card -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#patientTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": true,
            "paging": true,
            "info": true,
            "language": {
                "search": "",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_ rows",
                "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                "paginate": {
                    "previous": "⬅️ Previous",
                    "next": "Next ➡️"
                }
            },
            "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
        });


        $('#searchBox').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>

@* 
 <script>
        $(document).ready(function () {
        $("#searchBox").on('keyup', function () {
            var name = $(this).val();
                  
            $.ajax({
                url: '/Patient/GetName',
                data: { name: name },

                success: function (data) {
                    console.log(data)
                    let rows = '';
                    
                    data.forEach((item,index) => {
                        let dob = item.dateOfBirth
                            ? new Date(item.dateOfBirth).toLocaleDateString('en-GB', {
                                  day: 'numeric',
                                  month: 'short',
                                  year: 'numeric'
                              })
                            : "N/A";

                        let status = item.status ? "Active" : "Inactive";

                        rows += `<tr>
                            <td>${index + 1}</td>
                            <td>${item.name}</td>
                            <td>${item.email}</td>
                            <td>${item.address}</td>
                            <td>${item.phone}</td>
                            <td>${item.bloodGroup}</td>
                            <td>${dob}</td>
                            <td>${status}</td>
                            <td>
                                <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" href="/Patient/Edit/${item.patientID}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-info ms-2" href="/Patient/Details/${item.patientID}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-danger ms-2" href="/Patient/Delete/${item.patientID}">
                                                <i class="fa fa-trash"></i>
                                            </a>

                                </div>
                            </td>
                        </tr>`;
                    });

                    $('#tableBoady').html(rows);
                }
            });
        });
    });

 </script>

 *@