
@using HMSYSTEM.ViewModels
@model IEnumerable<Schedule>


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing Schedule List</h3></div>
                    <div>
                        <input type="text" class="form-control" placeholder="Search Doctor Name" id="searchBox" />
                    </div>
                    <div> <a class="btn btn-info" asp-controller="Schedule" asp-action="Save">Create</a></div>
                </div>



                <!-- /.card-header -->
                <div class="card-body">
                    <table id="scheduleTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>Date</th>
                                <th>Doctro Name</th>
                                <th>Department Name</th>
                                <th>Day</th>
                                <th>StartTime</th>
                                <th>EndTime</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBoady">
                            @{
                                int count =1;
                            }
                            @foreach (Schedule schedule in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@(schedule.Date?.ToString("dd-MM-yyyy"))</td>
                                    <td>@schedule.Doctor.FirstName @schedule.Doctor?.LastName</td>
                                    <td>@schedule.Department?.DepartmentName</td>
                                    <td>@schedule.DayOfWeek</td>
                                    <td>
                                        @(schedule.StartTime.HasValue
                                            ? DateTime.Today.Add(schedule.StartTime.Value).ToString("hh:mm tt")
                                            : "N/A")
                                    </td>
                                    <td>
                                        @(schedule.EndTime.HasValue
                                            ? DateTime.Today.Add(schedule.EndTime.Value).ToString("hh:mm tt")
                                            : "N/A")
                                    </td>
                                    <td>@(schedule.IsAvailable==true ? "Active" : "Inactive")</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@schedule.ScheduleId" asp-controller="Schedule" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" asp-route-id="@schedule.ScheduleId" asp-controller="Schedule" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            
                
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
          var table = $('#scheduleTable').DataTable({
              "pageLength": 10,
              "lengthMenu": [5, 10, 20, 50],
              "ordering": true,
              "paging": true,
              "info": true,
              "language": {
                  "search": "",
                  "searchPlaceholder": "Search",
                  "lengthMenu": "_MENU_ rows",
                  "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                  "paginate": {
                      "previous": "⬅️ Previous",
                      "next": "Next ➡️"
                  }
              },
              "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
          });


          $('#searchBox').on('keyup', function () {
              table.search(this.value).draw();
          });
    });
    function convertToAMPM(time) {
        if (!time) return "N/A";

        let [hours, minutes] = time.split(":");
        hours = parseInt(hours);
        let ampm = hours >= 12 ? "PM" : "AM";
        hours = hours % 12 || 12;
        return hours + ":" + minutes + " " + ampm;
    }
</script>