@* @model IEnumerable<Schedule> *@
@using HMSYSTEM.ViewModels
@model PaginationViewModel<Schedule>

@* @foreach(Patient patient in Model)
{
   @patient.Name
} *@

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing Schedule List</h3></div>
                    <div>
                        <input type="text" class="form-control" placeholder="Search Doctor Name" id="searchBox" />
                    </div>
                    <div> <a class="btn btn-info" asp-controller="Schedule" asp-action="Save">Create</a></div>
                </div>



                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>Date</th>
                                <th>Doctro Name</th>
                                <th>Department Name</th>
                                <th>Day</th>
                                <th>StartTime</th>
                                <th>EndTime</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBoady">
                            @{
                                int count = ((Model.CurrentPage-1)*Model.PageSize)+1;
                            }
                            @foreach (Schedule schedule in Model.Items)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@(schedule.Date?.ToString("dd-MM-yyyy"))</td>
                                    <td>@schedule.Doctor.FirstName @schedule.Doctor?.LastName</td>
                                    <td>@schedule.Department?.DepartmentName</td>
                                    <td>@schedule.DayOfWeek</td>
                                    <td>
                                        @(schedule.StartTime.HasValue
                                            ? DateTime.Today.Add(schedule.StartTime.Value).ToString("hh:mm tt")
                                            : "N/A")
                                    </td>
                                    <td>
                                        @(schedule.EndTime.HasValue
                                            ? DateTime.Today.Add(schedule.EndTime.Value).ToString("hh:mm tt")
                                            : "N/A")
                                    </td>
                                    <td>@(schedule.IsAvailable==true ? "Active" : "Inactive")</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@schedule.ScheduleId" asp-controller="Schedule" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" asp-route-id="@schedule.ScheduleId" asp-controller="Schedule" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-end">
                        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.CurrentPage - 1)">Previous</a>
                        </li>

                        <!-- Page Numbers -->
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" href="?page=@i">@i</a>
                            </li>
                        }

                        <!-- Next Button -->
                        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.CurrentPage + 1)">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#searchBox').on({
            keyup:function(){
                var name=$(this).val();

                $.ajax({
                    url:'/Schedule/GetSearch',
                    data:{name:name},
                    success:function(data){
                        console.log(data);
                       let rows='';

                       

                       data.forEach(item=>{
                          

                        let date = item.date
                             ? new Date(item.date).toLocaleDateString('en-GB', {
                                   day: 'numeric',
                                   month: 'short',
                                   year: 'numeric'
                               })
                             : "N/A";
                           rows+=`<tr>
                                <td>${item.id}</td>
                                <td>${date}</td>
                                <td>${item.name}</td>
                                <td>${item.departmentName}</td>
                                <td>${item.dayOfWeek}</td>
                                <td>${convertToAMPM(item.startTime)}</td>
                                <td>${convertToAMPM(item.endTime)}</td>
                                <td>${item.isAvailable==true ? "Active" : "Inactive"}</td>
                                <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" href="/Schedule/Edit/${item.id}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" href="/Schedule/Delete/${item.id}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                               
                           </tr>`
                       })

                       $('#tableBoady').html(rows);

                    }
                });

            }
        });

    })

    function convertToAMPM(time) {
        if (!time) return "N/A";

        let [hours, minutes] = time.split(":");
        hours = parseInt(hours);
        let ampm = hours >= 12 ? "PM" : "AM";
        hours = hours % 12 || 12;
        return hours + ":" + minutes + " " + ampm;
    }
</script>