@model Schedule
<div class="container-fluid mt-4">
    <div class="row g-4">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-6">

                <!--begin::Horizontal Form-->
                <div class="card card-warning card-outline mb-4">
                    <div class="btn-group-sm">
                        <a class="btn btn-primary" asp-route-id="" asp-controller="Schedule" asp-action="Index">
                            <i class="fa fa-list"></i>
                            Schedule List
                        </a>
                    </div>
                    <!--begin::Header-->
                    <div class="card-header d-flex justify-content-center  fs-1"><div class="">Schedule Information</div></div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form asp-action="Save" method="post" id="myForm">
                        <!--begin::Body-->
                        <div class="card-body">

                            <div class="row mb-3">
                                <label for="Date" class="col-sm-3 col-form-label">Date</label>
                                <div class="input-group col-sm-9">
                                    <input type="text" id="dateTO" name="date" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")"  />
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <label for="DoctorId" class="col-sm-3 col-form-label">Doctor</label>
                                <div class="col-sm-9 position-relative">
                                    <select name="DoctorId" id="DoctorId" class="form-control form-select">
                                        <option value="">-- Select Doctor --</option>
                                        @foreach (var item in ViewBag.Doctors)
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    </select>
                                                                 
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="DepartmentId" class="col-sm-3 col-form-label">Department</label>
                                <div class="col-sm-9 position-relative">
                                    <select name="DepartmentId" id="DepartmentId" class="form-control form-select">
                                        <option value="">-- Select Department --</option>
                                        @foreach (var item in ViewBag.Department)
                                        {
                                            <option value="@item.DepartmentId">@item.DepartmentName</option>
                                        }
                                    </select>

                                  
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Day</label>
                                <div class="col-sm-9">
                                    <select asp-for="DayOfWeek" class="form-select" id="dayWeek">
                                        <option value="">-- Select Day --</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                    </select>

                                    <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                                </div>
                            </div>

                            @{
                                var currentTime = DateTime.Now.ToString("HH:mm"); // 24-hour format
                            }

                            <div class="row mb-3">
                                <label asp-for="StartTime" class="col-sm-3 col-form-label ">Start Time</label>
                                <div class="col-sm-9">
                                    <input asp-for="StartTime" type="time" class="form-control" id="StartTime" value="@currentTime" onclick="this.showPicker()" />
                                    <span asp-validation-for="StartTime" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="EndTime" class="col-sm-3 col-form-label ">End Time</label>
                                <div class="col-sm-9">
                                    <input asp-for="EndTime" type="time" class="form-control" id="EndTime" value="@currentTime" onclick="this.showPicker()" />
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Status</label>
                                <div class="col-sm-9">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="IsAvailable" value="true" id="statusActive" />
                                        <label class="form-check-label" for="statusActive">Active</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="IsAvailable" value="false" id="statusInactive" />
                                        <label class="form-check-label" for="statusInactive">Inactive</label>
                                    </div>
                                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                                </div>
                            </div>

                            


                            


                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-warning me-2">Save</button>
                            <button type="reset" class="btn btn-danger me-2">Reset</button>
                        </div>
                        <!--end::Footer-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Horizontal Form-->
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#dateTO").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true
        });

        $(".input-group-text").click(function () {
            $("#dateTO").focus();
        });
    });

    $(document).ready(function(){
        $("#myForm").on('submit',function(){
            var dateTO=$("#dateTO").val().trim();
            var doctorId=$("#DoctorId").val().trim();
            var departmentId=$("#DepartmentId").val().trim();
            var dayWeek=$("#dayWeek").val().trim();
            var startTime=$("#StartTime").val().trim();
            var endTime=$("#EndTime").val().trim();

            var container=$("body");
            var offset=20;

            if(dateTO==="")offset=createAlert("❌ Date Required",container,offset);
            if(doctorId==="")offset=createAlert("❌ Doctor Required",container,offset);
            if(departmentId==="")offset=createAlert("❌ Departent is Required",container,offset);
            if(dayWeek==="")offset=createAlert("❌ Day Week is Required",container,offset);
            if(startTime==="")offset=createAlert("❌ Start time is Required",container,offset);
            if(endTime==="")offset=createAlert("❌ End time  is Required",container,offset);


            if($(".field-alert").length >0) return false;
            this.submit();

        })
    })


</script>