@using HMSYSTEM.Enum
@model IEnumerable<Appointment>

@using HMSYSTEM.ViewModels
@{
    ViewData["Title"] = "Appointment";
}


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div>
                        <a class="btn btn-info" asp-controller="Appointment" asp-action="Index">Open List</a>
                        <a class="btn btn-info" asp-controller="Appointment" asp-action="GetProgress">Progress</a>
                        <a class="btn btn-info" asp-controller="Appointment" asp-action="GetComplete">Complete</a>
                        <a class="btn btn-info" asp-controller="Appointment" asp-action="GetDeleteList">Delete</a>
                    </div>
                    <div> <h3 class="card-title bg-dark-subtle border border-danger-subtle">Existing Appointment List</h3></div>
                    @* <div> <a class="btn btn-info" asp-controller="Appointment" asp-action="Save">Create</a></div> *@
                </div>
                <div class="col-md-6">
                    <form method="post" class="mb-3">
                        <input type="date" name="fromDate" value="@ViewBag.FromDate" />
                        <input type="date" name="toDate" value="@ViewBag.ToDate" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>

                </div>
             


                <!-- /.card-header -->
                <div class="card-body">
                    <table id="AppointmentTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Sl</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Siral Number</th>
                                <th>Patient Name</th>
                                <th>Phone</th>
                                <th>Department</th>
                                <th>Doctor</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count =1;
                            }
                            @foreach (var appointment in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@(appointment.AppoinmentDate.ToString("dd-MM-yyyy"))</td>
                                    <td>@(appointment.AppoinmentDate.ToString("HH:mm:ss"))</td>
                                    <td>@appointment.SerialNumber</td>
                                    <td>@appointment.Patient.FirstName @appointment.Patient.LastName</td>
                                    <td>@appointment.PatientPhoneNumber</td>
                                    <td>@appointment.Department?.DepartmentName</td>
                                   
                                    <td>@appointment.Doctor?.FirstName</td>

                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="statusDropdown_@appointment.AppointmentId" data-bs-toggle="dropdown" 
                                                aria-expanded="false">
                                                @(appointment.Status == AppointmentStatus.Active ? "Active" :
                                                    appointment.Status == AppointmentStatus.InProgress ? "In Progress" :
                                                    appointment.Status == AppointmentStatus.Completed ? "Completed" :
                                                    appointment.Status == AppointmentStatus.Deleted ? "Deleted" : "Unknown")
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="statusDropdown_@appointment.AppointmentId">
                                                <li>
                                                    <a class="dropdown-item" 
                                                    asp-controller="Appointment" 
                                                    asp-action="ChangeStatus" 
                                                    asp-route-id="@appointment.AppointmentId"
                                                    asp-route-status="2" 
                                                    asp-route-returnAction="Index">
                                                        In Progress
                                                    </a>
                                                <a class="dropdown-item" 
                                                asp-controller="Appointment" 
                                                asp-action="ChangeStatus" 
                                                asp-route-id="@appointment.AppointmentId" 
                                                asp-route-status="9"
                                                asp-route-returnAction="Index">
                                               
                                                    Delete
                                                </a>

                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@appointment.AppointmentId" asp-                          controller="Appointment" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" 
                                            asp-route-id="@appointment.AppointmentId" 
                                            asp-controller="Appointment" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @* @await Html.PartialAsync("_Pagination", Model) *@
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#AppointmentTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": true,
            "paging": true,
            "info": true,
            "language": {
                "search": "",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_ rows",
                "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                "paginate": {
                    "previous": "⬅️ Previous",
                    "next": "Next ➡️"
                }
            },
            "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
        });


        $('#customSearchBox').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>
