@model IEnumerable<User>
@using HMSYSTEM.ViewModels


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing User List</h3></div>
                    <div> <a class="btn btn-info" asp-controller="User" asp-action="Save">Create</a></div>
                    <div><input type="text" class="form-control" placeholder="search Name" id="searchBox" /></div>
                </div>



                <!-- /.card-header -->
                <div class="card-body">
                    <table id="userTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:80px">Sl No</th>
                                <th>Name</th>
                                <th>Mobile No </th>
                                <th>User Name </th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="dataShow">
                            @{
                                int count = 1;
                            }
                            @foreach (User item in Model)
                            {
                                <tr>
                                    <td>@count</td>

                                    <td>@item.Name</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.UserName</td>
                                    <td >
                                        <a asp-action="GetStatusUpdate" asp-route-id="@item.Id"
                                           class="btn btn-sm @(item.Status == true ? "btn-success" : "btn-danger")">
                                            @(item.Status == true ? "Active" : "Inactive")
                                        </a>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.Id" asp-controller="User" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" asp-route-id="@item.Id" asp-controller="User" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>

                                            <a class="btn btn-success ms-2" asp-route-id="@item.Id" asp-controller="User" asp-action="Details">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {
            var table = $('#userTable').DataTable({
                "pageLength": 10,
                "lengthMenu": [5, 10, 20, 50],
                "ordering": true,
                "paging": true,
                "info": true,
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search",
                    "lengthMenu": "_MENU_ rows",
                    "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                    "paginate": {
                        "previous": "⬅️ Previous",
                        "next": "Next ➡️"
                    }
                },
                "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
            });


            $('#searchBox').on('keyup', function () {
                table.search(this.value).draw();
            });
      });
</script>