@using HMSYSTEM.ViewModels
@using HMSYSTEM.Enum
@model PaginationViewModel<Medicine>
@* @model IEnumerable<Medicine> *@


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    
                    <div> <h3 class="card-title bg-dark-subtle border border-danger-subtle">Existing Medicine List</h3></div>
                   <div>
                       <input type="text" id="searchBox" class="form-control" placeholder="Search Medicine" />
                   </div>
                    <div> <a class="btn btn-info" asp-controller="Medicine" asp-action="Save">Create</a></div> 
                </div>



                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Sl</th>
                                <th>Medicine Name</th>
                                <th>GenericName </th>
                                <th>Strength</th>
                                <th>Form</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="medicineBoady">
                            @{
                                int count = ((Model.CurrentPage-1)*Model.PageSize)+1;
                                // int count = ((Model.CurrentPage - 1) * Model.PageSize) + 1;
                            }
                            @foreach (Medicine item in Model.Items)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>@item.GenericName</td>
                                    <td>@item.Strength</td>
                                    <td>@item.Form</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.Id" asp- controller="Medicine" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" asp-route-id="@item.Id" asp-controller="Medicine" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-end">
                        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.CurrentPage - 1)">Previous</a>
                        </li>

                        <!-- Page Numbers -->
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" href="?page=@i">@i</a>
                            </li>
                        }

                        <!-- Next Button -->
                        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.CurrentPage + 1)">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#searchBox').on('keyup', function () {
            var name = $(this).val();

            $.ajax({
                url: '/Medicine/Search',
                data: {
                    name: name,
                },
             
                success: function (data) {
                    let rows = '';

                    data.forEach(item => {
                        rows += `<tr>
                            <td>${item.id}</td>
                            <td>${item.name}</td>
                            <td>${item.strength}</td>
                            <td>${item.genericName}</td>
                            <td>${item.form}</td>
                             <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="item.Id" asp- controller="Medicine" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2" asp-route-id="item.Id" asp-controller="Medicine" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                        </tr>`;
                    });

                    $('#medicineBoady').html(rows);
                }
            });
        });
    });

</script>