@using HMSYSTEM.ViewModels
@model List<AdmissionViewModel>


<div class="container mt-5">
    <form asp-action="AdmissionReports" method="post">
        <div class="row d-flex justify-content-center">
            <div class="row">
                <div class="col-md-5">
                    <label class="form-label">From</label>
                    <input type="date" name="fromDate" value="@ViewBag.FromDate" class="form-control" />
                </div>
                <div class="col-md-5">
                    <label class="form-label">To</label>
                    <input type="date" name="toDate" value="@ViewBag.ToDate" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mt-4">View</button>
                </div>
            </div>
            
        </div>
    </form>
</div>


<div class="m-3">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered mt-3 table-hover">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Patient</th>
                    <th>P.Phone</th>
                    <th>Doctor</th>
                    <th>Bed</th>
                    <th>Admission Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
   
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientPhoneNumber</td>
                        <td>@item.DoctorName</td>
                        <td>@item.BedName</td>
                        <td>@(item.AdmitDate?.ToString("dd-MM-yyyy"))</td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    }
    else
    {
        <p class="text-center text-muted">No data found for the selected date range.</p>
    }
</div>