@using HMSYSTEM.ViewModels
@model List<AdmissionViewModel>


<div class="container mt-5">
    <form asp-action="AdmissionReports" method="post">
        <div class="row d-flex justify-content-center">
            <div class="row">
                <div class="col-md-5">
                    <label class="form-label">From</label>
                    <div class="input-group">
                        <input type="text" id="fromDate" name="fromDate" class="form-control" />
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="form-label">To</label>
                    <div class="input-group">
                        <input type="text" id="toDate" name="toDate" class="form-control" />
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mt-4">View</button>
                </div>
            </div>
            
        </div>
    </form>
</div>


<div class="m-3">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered mt-3 table-hover">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Patient</th>
                    <th>P.Phone</th>
                    <th>Doctor</th>
                    <th>Bed</th>
                    <th>Admission Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
   
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientPhoneNumber</td>
                        <td>@item.DoctorName</td>
                        <td>@item.BedName</td>
                        <td>@(item.AdmitDate?.ToString("dd-MM-yyyy"))</td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    }
    else
    {
        <p class="text-center text-muted">No data found for the selected date range.</p>
    }
</div>


<script>
    $(function () {
        $("#fromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: new Date()   // আজকের তারিখ default হবে
        }).datepicker("setDate", new Date()); // input এও বসিয়ে দেবে

        $(".input-group-text").click(function () {
            $("#fromDate").focus();
        });
    });


       $(function () {
       
        var today = new Date();
       
        var lastDateOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);

        $("#toDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: lastDateOfMonth   
        }).datepicker("setDate", lastDateOfMonth); 

        $(".input-group-text").click(function () {
            $("#toDate").focus();
        });
    });
</script>