@using HMSYSTEM.ViewModels
@model List<AppointmentVM>


<div class="container mt-5">
    <form asp-action="AppointmentReports" method="post">
        <div class="row d-flex justify-content-center">
            <div class="row">
                <div class="col-md-5">
                    <label class="form-label">From</label>
                    <div class="input-group">
                        <input type="text" id="fromDate" name="fromDate" class="form-control" />
                        <span class="input-group-text" id="fromDate"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="form-label">To</label>
                    <div class="input-group">
                        <input type="text" id="toDate" name="toDate" class="form-control" />
                        <span class="input-group-text" id="toDate"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mt-4">View</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered mt-3 table-hover">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Date</th>
                    <th>Serial</th>
                    <th>Patient</th>
                    <th>P.Phone</th>
                    <th>Problem</th>
                   
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@(item.AppoinmentDate?.ToString("dd-MM-yyyy"))</td>
                        <td>@item.SerialNumber</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientPhoneNumber</td>
                        <td>@item.Problem</td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    }
</div>



<script>
       $(function () {
        var today = new Date();

        
        var firstDateOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
       
        var lastDateOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);

    
        $("#fromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: firstDateOfMonth
        }).datepicker("setDate", firstDateOfMonth);

  
        $("#toDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: lastDateOfMonth
        }).datepicker("setDate", lastDateOfMonth);

      
        $("#fromDateIcon").click(function () {
            $("#fromDate").focus();
        });

        $("#toDateIcon").click(function () {
            $("#toDate").focus();
        });
    });
</script>