@using HMSYSTEM.ViewModels
@model List<BillViewModel>


<div class="container mt-5">
    <form asp-action="BillReports" method="post">
        <div class="row d-flex justify-content-center align-items-end">
            <div class="col-md-5">
                <label class="form-label">From</label>
                <div class="input-group">
                    <input type="text" id="fromDate" name="fromDate" class="form-control" />
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-5">
                <label class="form-label">To</label>
                <div class="input-group">
                    <input type="text" id="toDate" name="toDate" class="form-control" />
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary ">View</button>
                <a class="btn btn-danger" asp-controller="Report" asp-action="BillReport">Reset</a>
            </div>
        </div>
    </form>
</div>


<div class="m-3">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered mt-3 table-hover">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Date</th>
                    <th>Patient</th>
                    <th>P.Phone</th>
                    <th>TotalAmt</th>
                    <th>Discount</th>
                    <th>Net Total</th>
                    <th>Payment</th>
                    <th>Due Amtount</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@(item.BillDate.ToString("dd-MM-yyyy"))</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientPhoneNumber</td>
                        <td>@item.TotalAmount</td>
                        <td>@item.Discount</td>
                        <td>@item.NetAmount</td>
                        <td>@item.PaymentAmt</td>
                        <td>@item.DueAmount</td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    }
   
</div>


<script>
    $(function () {
        $("#fromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: new Date()
        }).datepicker("setDate", new Date());

        $(".input-group-text").click(function () {
            $("#fromDate").focus();
        });
    });


    $(function () {
        var today = new Date();


        var firstDateOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);

        var lastDateOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);


        $("#fromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: firstDateOfMonth
        }).datepicker("setDate", firstDateOfMonth);


        $("#toDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: lastDateOfMonth
        }).datepicker("setDate", lastDateOfMonth);


        $("#fromDateIcon").click(function () {
            $("#fromDate").focus();
        });

        $("#toDateIcon").click(function () {
            $("#toDate").focus();
        });
    });
</script>