@using HMSYSTEM.ViewModels
@model List<PrescriptionViewModel>


<form id="billFilterForm" asp-action="PrescriptionReport" method="post">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-end">
            <div class="col-md-5">
                <label class="form-label">From</label>
                <div class="input-group">
                    <input type="text" id="fromDate" name="fromDate" class="form-control" />
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-5">
                <label class="form-label">To</label>
                <div class="input-group">
                    <input type="text" id="toDate" name="toDate" class="form-control" />
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-2 d-flex gap-2">

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-eye"></i>
                </button>

                <a class="btn btn-danger" asp-controller="Report" asp-action="PrescriptionReports">
                    <i class="fa fa-refresh"></i>
                </a>


                <button type="button" class="btn btn-info" onclick="loadAndPrint()">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
    </div>
</form>


<div class="m-3">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered mt-3 table-hover">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Date</th>
                    <th>Patient</th>
                    <th>P.Phone</th>
                    <th>Doctor</th>
                    <th>Next Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@(item.Date?.ToString("dd-MM-yyyy"))</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientMobileNo</td>
                        <td>@item.DoctorName</td>
                        <td>@(item.NextFlowUp?.ToString("dd-MM-yyyy"))</td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    }
   
</div>


<div id="printContainer" style="display:none;"></div>

<script>
    $(function () {
        $("#fromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: new Date()
        }).datepicker("setDate", new Date());

        $(".input-group-text").click(function () {
            $("#fromDate").focus();
        });
    });


    $(function () {
        var today = new Date();


        var firstDateOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);

        var lastDateOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);


        $("#fromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: firstDateOfMonth
        }).datepicker("setDate", firstDateOfMonth);


        $("#toDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            defaultDate: lastDateOfMonth
        }).datepicker("setDate", lastDateOfMonth);


        $("#fromDateIcon").click(function () {
            $("#fromDate").focus();
        });

        $("#toDateIcon").click(function () {
            $("#toDate").focus();
        });
    });

    function loadAndPrint() {
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();

        if(!fromDate || !toDate){
            alert("Please select From and To date");
            return;
        }
            $.ajax({
                url: '/Report/GetPrescriptionPertial/',
                type: 'GET',
                data: { fromDate: fromDate, toDate: toDate },
                success: function (data) {
                    $('#printContainer').html(data);
                    var printContents = document.getElementById('printContainer').innerHTML;
                    var originalContents = document.body.innerHTML;

                    document.body.innerHTML = printContents;
                    window.print();
                    document.body.innerHTML = originalContents;
                    location.reload();
                },
                error: function () {
                    alert("Failed to load print view.");
                }
            });
    }


</script>