@model IEnumerable<Admission>
@using HMSYSTEM.Enum


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing Bed List</h3></div>
                    <div> <a class="btn btn-info" asp-controller="Bed" asp-action="Save">Create</a></div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>Date</th>
                                <th>Patient Name</th>
                                <th>Doctor Name</th>
                                <th>word</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (Admission item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.AdmitDate</td>
                                    <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                    <td>@item.Doctor.FirstName @item.Doctor.LastName</td>
                                    <td>@item.Bed.BedNumber</td>
                                    <td>
                                        @((AdmissionType)item.Status == AdmissionType.Emergency ? "Emergency"
                                        : (AdmissionType)item.Status == AdmissionType.Routine ? "Routine"
                                        : (AdmissionType)item.Status == AdmissionType.Maternity ? "Maternity"
                                        : (AdmissionType)item.Status == AdmissionType.Surgical ? "Surgical"
                                        : (AdmissionType)item.Status == AdmissionType.Observation ? "Observation"
                                        : (AdmissionType)item.Status == AdmissionType.Transfer ? "Transfer"
                                        : (AdmissionType)item.Status == AdmissionType.ICU ? "ICU"
                                        : (AdmissionType)item.Status == AdmissionType.DayCare ? "Day Care"
                                        : (AdmissionType)item.Status == AdmissionType.Accident ? "Accident"
                                        : (AdmissionType)item.Status == AdmissionType.Referral ? "Referral"
                                        : "Unknown")
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-danger ms-2" asp-route-id="@item.Id" asp-controller="Bed" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                  count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-end">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
