@* @model IEnumerable<Admission> *@
@using HMSYSTEM.ViewModels
@* @model PaginationViewModel<Admission> *@
@model HMSYSTEM.ViewModels.PagedResult<Admission>
@using HMSYSTEM.Enum


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around">
                    <div> <h3 class="card-title">Existing Admission List</h3></div>
                    <div> <a class="btn btn-info" asp-controller="Admission" asp-action="Save">Create</a></div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Id</th>
                                <th>Date</th>
                                <th>Invoice No</th>
                                <th>Patient Name</th>
                                <th>P. Number</th>
                                <th>Ward Name</th>
                                <th>Bed Number</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count =((Model.CurrentPage-1)*Model.PageSize)+1;
                            }
                            @foreach (Admission item in Model.Items)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@(item.AdmitDate?.ToString("dd-MM-yyyy"))</td>
                                    <td>@item.InvoiceNo</td>
                                    <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                    <td>@item.Patient.Phone</td>
                                    <td>@item.Bed?.Ward.Name</td>
                                    <td>@item.Bed.BedNumber</td>
                                    <td>
                                        @((AdmissionType)item.Status == AdmissionType.Emergency ? "Emergency"
                                        : (AdmissionType)item.Status == AdmissionType.Routine ? "Routine"
                                        : (AdmissionType)item.Status == AdmissionType.Maternity ? "Maternity"
                                        : (AdmissionType)item.Status == AdmissionType.Surgical ? "Surgical"
                                        : (AdmissionType)item.Status == AdmissionType.Observation ? "Observation"
                                        : (AdmissionType)item.Status == AdmissionType.Transfer ? "Transfer"
                                        : (AdmissionType)item.Status == AdmissionType.ICU ? "ICU"
                                        : (AdmissionType)item.Status == AdmissionType.DayCare ? "Day Care"
                                        : (AdmissionType)item.Status == AdmissionType.Accident ? "Accident"
                                        : (AdmissionType)item.Status == AdmissionType.Referral ? "Referral"
                                        : "Unknown")
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-danger ms-2" asp-route-id="@item.Id" asp-controller="Admission" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a class="btn btn-success ms-2" asp-route-id="@item.Id" asp-controller="Admission" asp-action="Details">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                  count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @await Html.PartialAsync("_Pagination", Model)
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
