@model HMSYSTEM.ViewModels.PrescriptionViewModel


<div class="container ">

    <div style="margin:50px;" class=" shadow border border-black">
        <div class="row  border border-opacity-25  border-black m-4 p-4 ">
            <div class=" d-flex justify-content-end">
                <div class="btn-group">

                    <a class="btn btn-success " asp-route-id="" asp-controller="Prescription" asp-action="Save">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>


                    <a class="btn btn-primary " asp-route-id="" asp-controller="Prescription" asp-action="Index">
                        <i class="fa fa-list"></i>
                        List
                    </a>

                    <button class="btn btn-danger" onclick="loadAndPrint(@Model.Id)">
                        <i class="fa fa-print"></i> Print
                    </button>

                </div>
            </div>
            <div class="col-md-4">
                <h3>Dr.@Model.DoctorName</h3>
                <h6>@Model.DesignationName</h6>
                <h6>Contact No:@Model.DoctorMobile </h6>
            </div>

            <div class="col-md-4">
                <h2>Prescription Details</h2>
            </div>

            <div class="col-md-4">
                <h3>Hospital Management</h3>
                <h6>Charghat , Rajshahi</h6>
                <h6>Mobile : 01791177192</h6>
            </div>
            <hr />
        </div>

        <div class="row  m-4 p-1 border border-opacity-25 border-black">
            <div class="col-md-6">
               
                <strong>Patient : @Model.PatientName <br /></strong>
                Phone No :  @Model.PatientMobileNo <br />
                Address: @Model.PatientAddress </br>
               
            </div>

            <div class="col-md-6">
                Date : @Model.Date?.ToString("dd - MMM - yyyy") <br />
                Department: @Model.DepartmentName</p>
            </div>
        </div>

        <div class="row m-4 t-4 ">
            <div class="d-flex justify-content-center "><u><h4>Prescribed Medicines</h4></u></div>
            <table class="table table-bordered border-opacity-25 border-black">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Dose</th>
                        <th>Duration</th>
                        <th>Instructions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.PrescriptionDetails)
                    {
                        <tr>
                            <td>
                                @detail.MedicineName
                                <small class="text-muted">(@detail.Strength , @detail.Form)</small>
                            </td>
                            <td>@detail.Dose</td>
                            <td>@detail.Duration</td>
                            <td>@(detail.Instructions == true ? "After Meal" : "Before Meal")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row ">
            <div class="col-md-6 m-4 p-1">


                <strong>Advice Given:</strong> @Model.Note <br />
                <strong>Next Flow Up:</strong> @Model.NextFlowUp?.ToString("dd MMM yyyy")

            </div>
        </div>

    </div>
</div>

<div id="printContainer" style="display:none;"></div>


<script>
    function loadAndPrint(id) {
        $.ajax({
            url: '/Prescription/GetPrescriptionPrintPartial/' + id,
            type: 'GET',
            success: function (data) {
                $('#printContainer').html(data);
                var printContents = document.getElementById('printContainer').innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;
                window.print();
                document.body.innerHTML = originalContents;
                location.reload();
            },
            error: function () {
                alert("Failed to load print view.");
            }
        });
    }
</script>








