@model HMSYSTEM.ViewModels.PrescriptionViewModel


<style>
    #detailsTable .select2-container {
        width: 100% !important; 
    }

    
    #detailsTable .select2-selection--single {
        height: 38px; 
    }

    #detailsTable .select2-selection__rendered {
        line-height: 38px;
    }

    #detailsTable .select2-selection__arrow {
        height: 38px;
    }
</style>

@{
    var medicineList = ViewBag.Medicine as List<HMSYSTEM.Models.Medicine>;
}

<div class="position-fixed top-0 end-0 m-3" style="z-index: 9999; width:350px">
    <div class="alert alert-success alert-dismissible d-none" role="alert" id="alertMessage">
        ✅ Successfully added!
    </div>
</div>

<div class="position-fixed top-0 end-0 m-3" style="z-index: 9999; width:350px">
    <div class="alert alert-danger alert-dismissible d-none" role="alert" id="removedMessage">
        ✅ Successfully Delete!
    </div>
</div>


<form asp-action="Save" method="post" id="myForm" enctype="multipart/form-data">

    <!-- Prescription Info Card -->
    <div class="card shadow p-4 mb-5 m-4">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="Date" class="form-label">Date</label>
                <div class="input-group">
                    <input type="text" id="date" name="date" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="PatientID" class="form-label">Patient</label>
                <select name="PatientID" id="PatientID" class="form-select medicineSelect">
                    <option value="">-- Select Patient --</option>
                    @foreach (var item in ViewBag.Patient)
                    {
                        <option value="@item.PatientID">@item.FirstName @item.LastName</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="DoctorId" class="form-label">Doctor</label>
                <select name="DoctorId" id="DoctorId" class="form-select ">
                    <option value="">-- Select Doctor --</option>
                    @foreach (var item in ViewBag.Doctor)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="DepartmentId" class="form-label">Department</label>
                <select name="DepartmentId" id="departmentId" class="form-select medicineSelect">
                    <option value="">-- Select Department --</option>
                    @foreach (var item in ViewBag.Department)
                    {
                        <option value="@item.DepartmentId">@item.DepartmentName</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <!-- Dynamic Prescription Details Card -->
    <div class="card shadow p-4 m-4">
        <div class="mb-3">
            <!-- Hidden medicine dropdown template -->
            <select id="medicineTemplate"  class="form-select d-none">
                <option value="">-- Select Medicine --</option>
                @foreach (var med in medicineList)
                {
                    <option value="@med.Id">@med.Name</option>
                }
            </select>

            <table class="table table-bordered" id="detailsTable">
                <thead>
                    <tr>
                        <th>Medicine </th>
                        <th>Dose</th>
                        <th>Duration</th>
                        <th>Instructions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be appended here dynamically -->
                </tbody>
            </table>

           <div class="d-flex justify-content-end">
                <button type="button" id="addRowBtn" class="btn btn-primary btn-sm">+</button>
           </div>
        </div>

       
    </div>

    <div class="card shadow p-4 m-4">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="Note">Note</label>
                <div>
                    <input class="form-control" name="Note" type="text" />
                </div>
            </div>

            <div class="col-md-6">
                <label for="NextFlowUp">Fllow Up</label>
                <div>
                    <input type="date" name="NextFlowUp" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow action-buttons m-4 ">
        <div class="card-body d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-warning">Save</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </div>

    <!-- Submit and Reset Buttons -->
    

</form>
<style>
    .select2-container--default .select2-selection--single {
        height: 38px;
        line-height: 38px;
        padding: 0 12px;
        border-radius: 0.375rem;
        border: 1px solid #ced4da;
    }

    .select2-container--default .select2-selection__arrow {
        height: 38px;
    }

    .select2-container--default .select2-selection__rendered {
        line-height: 38px;
    }
    /* Remove width:100% !important; to prevent full page width */
</style>

<script>
       let rowIndex = 0;

    function createRow(index) {
        // Copy template options
        let medicineDropdown = $("#medicineTemplate").html();

        let row = `<tr>
            <td>
                <select name="PrescriptionDetails[${index}].MedicineId" class="form-select medicineSelect">
                    ${medicineDropdown}
                </select>
            </td>
            <td><input type="text" name="PrescriptionDetails[${index}].Dose" class="form-control" /></td>
            <td><input type="text" name="PrescriptionDetails[${index}].Duration" class="form-control" /></td>
            <td><input type="checkbox" name="PrescriptionDetails[${index}].Instructions" value="true" /></td>
            <td><button type="button" class="btn btn-sm btn-danger removeRowBtn"><i class="fa fa-trash"></i></button></td>
        </tr>`;

        return row;
    }

    function initSelect2() {
        $(".medicineSelect").select2({
            placeholder: "--Select Medicine--",
            allowClear: true,
            width: '100%',  
            dropdownAutoWidth: true 
        });

       
        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });
    }

    function initDoctor() {
        $("#DoctorId").select2({
            placeholder: "--Select Doctor--",
            allowClear: true,
            width: '100%',
            dropdownAutoWidth: true
        });


        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });
    }


    function initPatient() {
        $("#PatientID").select2({
            placeholder: "--Select Patient--",
            allowClear: true,
            width: '100%',
            dropdownAutoWidth: true
        });


        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });
    }

    function initDepartment() {
        $("#departmentId").select2({
            placeholder: "--Select Department--",
            allowClear: true,
            width: '100%',
            dropdownAutoWidth: true
        });


        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });
    }


  
    $(document).ready(function () {
       
        $("#detailsTable tbody").append(createRow(rowIndex));
        rowIndex++;
        initSelect2();
        initDoctor();
        initPatient();
        initDepartment();

    
        $("#addRowBtn").click(function () {
            $("#detailsTable tbody").append(createRow(rowIndex));
            rowIndex++;
            initSelect2(); 

            $("#alertMessage").removeClass("d-none").fadeIn();
            setTimeout(() => { $("#alertMessage").fadeOut(); }, 2000);
        });

     
        $("#detailsTable").on("click", ".removeRowBtn", function () {
            $(this).closest("tr").remove();

            $("#removedMessage").removeClass("d-none").fadeIn();
            setTimeout(() => { $("#removedMessage").fadeOut(); }, 2000);
        });
    });



    $(document).ready(function () {
        $("#myForm").on('submit', function (e) {
            e.preventDefault(); // আগে থামাই
            var date = $("#date").val().trim();
            var doctorId = $("#DoctorId").val().trim();
            var patientID = $("#PatientID").val().trim();
            var department = $("#departmentId").val().trim();

            var container = $("body");
            var offset = 20;

            if (date === "") offset = createAlert("❌ Date Required", container, offset);
            if (doctorId === "") offset = createAlert("❌ Doctor Required", container, offset);
            if (patientID === "") offset = createAlert("❌ Patient is Required", container, offset);
            if (department === "") offset = createAlert("❌ Department is Required", container, offset);

            // Medicine Details Validation
            $("#detailsTable tbody tr").each(function (index, row) {
                var medicine = $(row).find("select[name*='.MedicineId']").val();
                var dose = $(row).find("input[name*='.Dose']").val().trim();
                var duration = $(row).find("input[name*='.Duration']").val().trim();

                if (medicine === "" || medicine === null) {
                    offset = createAlert(`❌ Medicine is required`, container, offset);
                }
                if (dose === "") {
                    offset = createAlert(`❌ Dose is required`, container, offset);
                }
                if (duration === "") {
                    offset = createAlert(`❌ Duration is required`, container, offset);
                }
            });

        
            if ($(".field-alert").length > 0) return false;

            this.submit();
        });
    });

</script>
