@model Doctor
@{
    ViewData["Title"] = "Doctor Save";
}

<div class="container-fluid mt-4">
    <div class="row g-4">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card card-warning card-outline mb-4">
                    <div class="btn-group-sm mt-2 ms-2">
                        <a class="btn btn-primary" asp-route-id="" asp-controller="Doctor" asp-action="Index">
                            <i class="fa fa-list"></i> Doctor List
                        </a>
                    </div>

                    <div class="card-header d-flex justify-content-center fs-1">
                        <div class="">Doctor Information</div>
                    </div>

                    <form asp-action="Save" method="post" id="myForm" enctype="multipart/form-data">
                        <div class="card-body">

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="FirstName" class="form-label">First Name</label>
                                    <input asp-for="FirstName" class="form-control" id="firstName" />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="LastName" class="form-label">Last Name</label>
                                    <input asp-for="LastName" class="form-control" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="EmailAddress" class="form-label">Email</label>
                                    <input asp-for="EmailAddress" class="form-control" id="email" />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <div class="position-relative">
                                        <input asp-for="Password" class="form-control pe-5" type="password" id="password" />
                                        <span class="position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;" onclick="togglePassword()">
                                            <i class="fa fa-eye" id="toggleIcon"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="DesignationId" class="form-label">Designation</label>
                                    <select name="DesignationId" id="DesignationId" class="form-select designation-dropdown">
                                        <option value="">-- Select Designation --</option>
                                        @foreach (var item in ViewBag.Designation)
                                        {
                                            <option value="@item.DesignationId">@item.DesignationName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="DepartmentId" class="form-label">Department</label>
                                    <select name="DepartmentId" id="DepartmentId" class="form-select department-dropdown">
                                        <option value="">-- Select Department --</option>
                                        @foreach (var item in ViewBag.Department)
                                        {
                                            <option value="@item.DepartmentId">@item.DepartmentName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="Address" class="form-label">Address</label>
                                    <input asp-for="Address" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="PhoneNo" class="form-label">Phone No</label>
                                    <input asp-for="PhoneNo" class="form-control" id="phoneNo" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="ShortBiography" class="form-label">Short Biography</label>
                                    <input asp-for="ShortBiography" class="form-control"></input>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Specialist" class="form-label">Specialist</label>
                                    <input asp-for="Specialist" class="form-control" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                                    <div class="input-group">
                                        <input type="text" id="dateOfBirth" name="DateOfBirth" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Sex</label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Sex" value="Male" id="male" />
                                        <label class="form-check-label" for="male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Sex" value="Female" id="feMale" />
                                        <label class="form-check-label" for="feMale">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Sex" value="Other" id="other" />
                                        <label class="form-check-label" for="other">Others</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">Status</label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Status" value="true" id="statusActive" />
                                        <label class="form-check-label" for="statusActive">Active</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Status" value="false" id="statusInactive" />
                                        <label class="form-check-label" for="statusInactive">Inactive</label>
                                    </div>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="ImageFile" class="form-label">Profile Picture</label>
                                    <input asp-for="ImageFile" class="form-control" type="file" id="imageFile" />
                                </div>
                            </div>

                        </div>

                        <div class="card-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-warning me-2">Save</button>
                            <button type="reset" class="btn btn-danger me-2">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
         $(".department-dropdown").select2({
             placeholder: "--Select Department--",
             allowClear: true,
             width: '100%'
         });


         $(document).on('select2:open', () => {
             document.querySelector('.select2-search__field').focus();
         });
    });

      $(document).ready(function () {
         $(".designation-dropdown").select2({
             placeholder: "--Select Designation--",
             allowClear: true,
             width: '100%'
         });


         $(document).on('select2:open', () => {
             document.querySelector('.select2-search__field').focus();
         });
    });

    $(function () {
        $("#dateOfBirth").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true
        });

        $(".input-group-text").click(function () {
            $("#dateOfBirth").focus();
        });
    });

    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const toggleIcon = document.getElementById('toggleIcon');
        const isPassword = passwordInput.type === 'password';
        passwordInput.type = isPassword ? 'text' : 'password';
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    }

  
    $(document).ready(function(){
        $("#myForm").on('submit',function(){
            var name=$("#firstName").val().trim();
            var email=$("#email").val().trim();
            var password=$("#password").val().trim();
            var designationId=$("#DesignationId").val().trim();
            var departmentId=$("#DepartmentId").val().trim();
            var phoneNo=$("#phoneNo").val().trim();

                  
            var container=$("body");
            var offset=20;
            

            if(name==="")offset=createAlert("❌ Name is Required",container,offset);
            if(email==="")offset=createAlert("❌ Email is Required",container,offset);
            if(password==="")offset=createAlert("❌ Password is Required", container,offset);
            if(designationId==="")offset=createAlert("❌ Designation is Required" , container,offset);
            if(departmentId==="")offset=createAlert("❌ Departent is Required" , container,offset);
            if(phoneNo==="")offset=createAlert("❌ Phone is Required" , container,offset);

          
            if($(".field-alert").length >0) return false;
            this.submit();
        })
    })

</script>
