@model IEnumerable<ServiceItem>
@using HMSYSTEM.ViewModels
@{
    ViewData["Title"] = "Servoce Item";
}



<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-evenly">
                    <div> <h3 class="card-title">Existing Service List</h3></div>
                   
                    <div>
                        <input type="text" class="form-control" id="searchBox" placeholder="Search Service Item" />
                    </div>

                    <div> <a class="btn btn-info" asp-controller="ServiceItem" asp-action="Save">Create</a></div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="serviceTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">sl</th>
                                <th>Service Item</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="dataShow">
                            @{
                                int count =  1;
                            }
                            @foreach (ServiceItem item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ItemName</td>
                                    <td>@item.Amount</td>
                                    
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            @(item.IsActive ? "Active" : "Inactive")
                                        </div>
                                    </td>

                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-danger ms-2" asp-route-id="@item.Id" asp-controller="ServiceItem" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                      count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
           var table = $('#serviceTable').DataTable({
               "pageLength": 10,
               "lengthMenu": [5, 10, 20, 50],
               "ordering": true,
               "paging": true,
               "info": true,
               "language": {
                   "search": "",
                   "searchPlaceholder": "Search",
                   "lengthMenu": "_MENU_ rows",
                   "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                   "paginate": {
                       "previous": "⬅️ Previous",
                       "next": "Next ➡️"
                   }
               },
               "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
           });


           $('#searchBox').on('keyup', function () {
               table.search(this.value).draw();
           });
     });
</script>